:root {
    --background-color: #26252a;
    --text-color: #dfdad4;

    --loginbox-background-color: #39383d;
    --login-input-background: #dfdad4;
    --button-background: #dfdad4;
    --button-background-hover: #2f749c;
    --border: #4a5356;

    --border-radius: 5px;
}

html,body {
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}



.loginbox {
    margin: auto;
    width:auto;
    text-align: center;
    border: 1px solid var(--border);
    padding: 1rem;
    border-radius: var(--border-radius);
    background-color: var(--loginbox-background-color);
}

.loginbox button {
    width: 30%;
    display: block;
    margin: 1rem auto;
    padding: 0.5rem;
    background-color: var(--button-background);
    color: black;
    border-radius: var(--border-radius);
}

.form-block {
    width: 100%;
    margin: auto;

}

.form-block input {
    padding: 0.5rem;
    border-radius: var(--border-radius);
    width: 70%;
    margin: 0.3rem auto;
    display: block;
    font-size: 1rem;
    background-color: var(--login-input-background);
}

.text-center {
    text-align: center;
}

a {
    color: var(--text-color);
}


.loginbox img{
    border: 5px solid var(--border);
    height: 5rem;
    display:block;
    margin: auto;
    border-radius: 50%;
}
.title {
    font-family: 'Liu Jian Mao Cao', cursive;
}

.error {
    color: red;
}

.header {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}
.utente {
    margin: 5px;
}

main {
    margin-top: 2rem;
    width: 100%;
}
main .menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--text-color);
}
.menu a{
    width:100%;
    color: var(--background-color);
    border-left: 1px solid var(--background-color);
    padding: 1rem;
    display: inline-block;
    text-decoration: none;
}
.menu a:hover{
    background-color: var(--border);
}
main .content {
    width: 99%;
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
    margin-bottom: 4rem;
}
.content p {
    margin-left: 1rem;
}

.edifici {
    display: grid;
    grid-template-columns: auto;
}
.card {
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.5rem;
}
.card .titolo {
    padding: 0.5rem;
    text-align: center;
    font-size: 1.2rem;
}
.edifici button {
    width: 90%;
    padding: 0.7rem;
    background-color: var(--button-background);
    border: none;
    outline: none;
    border-radius: var(--border-radius);
    margin: 0.3rem;
}
.card img {
    width: 100%;
}
.card button:hover:enabled {
    background-color: var(--button-background-hover);
}
.card button:disabled {
    background-color: var(--border)
}

.eventi {
    display: grid;
    grid-template-columns: auto;
}

.eventi button {
    display:block;
    margin: 0.3rem auto;
    width: 75%;
    padding: 1rem;

    background-color: var(--button-background);
    border: none;
    border-radius: var(--border-radius);
}
.home {
    padding: 0.5rem;
}

.home button {
    display: block;
    margin: auto;
    padding: 1rem;
    background-color: var(--button-background);
    border: none;
    border-radius: var(--border-radius);
}
.home button:hover {
    background-color: var(--button-background-hover);
}
.utente img {
    display:block;
    margin: auto;
    width: 50px;
    border-radius: 50%;
    border: 5px solid var(--border);

}
.formedifici form{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
@media only screen and (min-width: 992px) {


    .loginbox {
        width: 30%;
    }


    .header {
        grid-template-columns: auto auto auto;
    }
    .utente {
        margin: 0;
    }

    main {
        margin: 2rem auto;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 70%;
    }
    main .menu {
        background-color: transparent;
        position: relative;
        width: 10rem;
        border-right: 1px solid white;
        display: block;
    }

    .menu a{
        width: auto;
        color: var(--text-color);
        text-decoration: underline;
        display: block;
    }
    .menu a:hover{
        background-color: var(--border);
    }
    main .content {
        margin-left: 5rem;
        margin-right: 5rem;
        width: 90%;
    }
    .content p {
        margin-left: 1rem;
    }
    .edifici {
        grid-template-columns: auto auto;
    }
    .eventi {
        display: grid;
        grid-template-columns: auto auto;
    }
    .formedifici form{
        display: grid;
        grid-template-columns: auto auto;
    }

    
}
@media only screen and (min-width:1700px ) {
    .header {
        width: 50%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    .edifici {
        grid-template-columns: auto auto auto;
    }
    .eventi {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
    .formedifici form{
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
}